*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  
}
.main-container{ 
     font-family: "Open Sans", sans-serif;
     background-color: black;
     padding-top: 10px;
       min-height: 100vh;




}
.movie-data{
  display: flex;
  flex-wrap: wrap;
  margin: 10px auto;
  justify-content: center;
  
}

.movie-data img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}
.img{
  max-width: 250px;
  height: 340px

}
.type-holder{
  display: flex;
  justify-content: space-between;

}
.type{
position: absolute;
background-color: #993636;
  
  
}
.single-movie{
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 8px;
  text-align: center;
  margin: 10px 10px;
  height: 392px;

}
.input-container{
  margin:  auto;
  display: flex;
  justify-content: space-around;
 width: 100%;
  max-width: 416px;
    display: flex;
      border-radius: 90px;
      background-color: #fff;
      align-items: center;


  
  

}
p{
  color: #f1f1f1;
}
input{
   width: 350px;
  padding: 10px;
  outline: none;
  border: none;
  position: relative;
  background-color: inherit;
}
button{
 background-color: rgb(73, 83, 83);
 border: none;
 border-radius: 4px;
 position: relative;
 padding: 2px 10px;
 color: #f1f1f1;
 left: 5px;
 box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px
}
button:active{
   background-color: rgb(223, 231, 231);

}
button:disabled{
  background-color: rgb(107, 102, 95);
}

.title{
white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width:250px;
  text-align: center;
  color: #f1f1f1;
  padding: 5px;
}
.result{
  margin:  10px auto;
  padding-left: 10px;
}
.error{
  font-style: italic;
   margin:  10px auto;
  padding-left: 10px;
  color: rgb(212, 112, 112);

}
.loading{
   margin:  10px auto;
  padding-left: 10px;

}
.pagination{
  display: flex;
  position: relative;
  justify-content: center;
  gap: 20px;
  padding-bottom: 10px;
  color: #f1f1f1;
}
.search-img{
  position: relative;
  width: 20px;
  height: 20px;
  margin-left: 5px;

}
.search-img img{
  width: 100%;
  height: 100%;
}
small{
  color: #f1f1f1;
}

@media(max-width:480px){
.input-container{
  margin:  auto;
  display: flex;
  justify-content: space-around;
 width: 100%;
  max-width: 250px;
    display: flex;
      border-radius: 90px;
      background-color: #fff;
      align-items: center;


  
  

}
input{
   width: 150px;
  padding: 10px;
  outline: none;
  border: none;
  position: relative;
  background-color: inherit;
}
.search-img{
  color: #f1f1f1;
  position: relative;
  width: 15px;
  height: 15px;
  margin-left: 7px;

}

}