*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
.movie-data{
  display: flex;
  flex-wrap: wrap;
  margin: 10px auto;
  justify-content: center;

}
img{
  width: 100%;
  height: 100%;
}
.img{
  max-width: 250px;

}
.single-movie{
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 8px;
  text-align: center;
  margin: 10px 10px;
}
.input-container{
  margin: 10px auto;
  display: flex;
  justify-content: center;
  text-align: center;
  
  

}
input{
  width: 300px;
  border-radius: 4px;
}
button{
 background-color: rgb(107, 128, 128);
 border: none;
 border-radius: 4px;
 position: relative;
 padding: 2px 10px;
 left: 5px;
 box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px
}
button:active{
   background-color: rgb(223, 231, 231);

}
.title{
white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width:250px;
  text-align: center;
}
.result{
  margin:  10px auto;
  padding-left: 10px;
}
.error{
  font-style: italic;
   margin:  10px auto;
  padding-left: 10px;
  color: rgb(212, 112, 112);

}
.loading{
   margin:  10px auto;
  padding-left: 10px;

}
.pagination{
  display: flex;
  position: relative;
  justify-content: center;
  gap: 20px;
  margin-bottom: 10px;
}