@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.main-container {
  background-color: black;
  padding-top: 10px;
  min-height: 100vh;
}
.movie-data {
  display: flex;
  flex-wrap: wrap;
  margin: 10px auto;
  justify-content: center;
  position: relative;
}

.movie-data img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img {
  max-width: 250px;
  height: 340px;
}
.type-holder {
  display: flex;
  justify-content: space-between;
}
.type {
  position: absolute;
  background-color: #993636;
}
.single-movie {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 8px;
  text-align: center;
  margin: 10px 10px;
  height: 392px;
}
.input-container {
  /* margin:  auto; */
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 416px;
  display: flex;
  border-radius: 90px;
  background-color: #fff;
  align-items: center;
  padding: 24px 10px;
}
p {
  color: #f1f1f1;
}
input {
  width: 350px;
  padding: 5px;
  outline: none;
  border: none;
  position: relative;
  background-color: inherit;
  font-size: 16px;
}
button {
  background-color: rgb(73, 83, 83);
  border: none;
  border-radius: 4px;
  position: relative;
  padding: 2px 10px;
  color: #f1f1f1;
  left: 5px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px;
}
button:active {
  background-color: rgb(223, 231, 231);
}
button:disabled {
  background-color: rgb(107, 102, 95);
}

.title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 250px;
  text-align: center;
  color: #f1f1f1;
  padding: 5px;
}
.result {
  margin: 10px auto;
  padding-left: 10px;
}
.error {
  font-style: italic;
  margin: 10px auto;
  padding-left: 10px;
  color: rgb(212, 112, 112);
}
.loading {
  margin: 10px auto;
  padding-left: 10px;
}
.pagination {
  display: flex;
  position: relative;
  justify-content: center;
  gap: 20px;
  padding-bottom: 10px;
  color: #f1f1f1;
}
.search-img {
  position: relative;
  width: 20px;
  height: 20px;
  margin-left: 5px;
}
.search-img img {
  width: 100%;
  height: 100%;
}
small {
  color: #f1f1f1;
}
.one-a {
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
  /* width: 60px; */
}
.dot {
  display: flex;
  justify-content: center;
  display: none;
}
.one-a:hover .dot {
  display: flex;
}
/* .anima:hover .dot{
  display: flex;
} */

/* .anima{
display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
  width: 80px;
} */

a {
  text-decoration: none;
  color: #f1f1f1;
  font-weight: 600px;
  font-size: 16px;
}
.nav-bar {
  display: flex;
  justify-content: center;
  margin: auto;
  align-items: center;
}
.nav-bar div {
  margin-right: 10px;
  height: 30px;
}
.first-handle {
  display: flex;
}
.one-a a {
  display: flex;
}
.second-handle {
  display: flex;
}
.second-handle a {
  /* margin-right: 10px; */
}
.third-handle {
  display: flex;
}
.third-handle div {
  margin-right: 0px;
}
.third-handle span {
  color: #f1f1f1;
}
.fourth-handle {
  display: flex;
  justify-content: center;
}
.fourth-handle img {
  width: 12px;
  height: 15px;
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
.slideShow {
  width: 100%;
  max-width: 100%;
  margin: 40px auto;
  margin-bottom: 70px;
  position: relative;

  /* display: flex;
  justify-content: center; */
}
.slideShow img {
  width: 100%;
  height: 744px;
  object-fit: fill;
  display: block;
}
h1 {
  color: #f1f1f1;
}
.slideTitle {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
}
.schedule {
  display: flex;

  position: absolute;
  bottom: 50%;
  left: 30%;
}
.schedule button {
  margin-right: 40px;
  padding: 26px 66px;
  border: 2px solid #ff0000;
  background: rgba(0, 0, 0, 0.5);
  font-weight: 700;
  font-size: 24px;
  display: flex;
  text-align: center;
}
.schedule button:hover {
  background-color: #ff0000;
}
.schedule p {
  padding-right: 7px;
}

.schedule img {
  width: 31px;
  height: 31px;
}
.later-img img {
  width: 20px;
  height: 20px;
  margin-top: 8px;
}

.recent-update-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1120px;
}

.recent-update {
  display: flex;
  gap: 40px;
}
.recent-text {
  font-size: 24px;
  /* margin-bottom: 24px; */
}
.next {
  width: 88px;
  height: 88px;
  border-radius: 50%;
  background: white;
  border: 2px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease;
}

.next:hover {
  background: #d1cccc;
  color: white;
}

.small-poster img {
  width: 64px;
  height: 103px;
}
.small-poster {
  width: 206px;
  display: flex;
  gap: 24px;
}

.lines {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 80px;
  font-size: 16px;
  color: #f1f1f1;
}

.side-clue {
  display: flex;
  justify-content: space-between;
  width: 1120px;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}
.section-size {
  width: 1120px;
}
.view-all {
  display: flex;
}
.view-more img {
  width: 22px;
  height: 20px;
}
.yyy {
  margin: -5px;
  margin-left: 10px;
}

.trending {
  display: flex;
  gap: 33px;

  margin-bottom: 50px;
}
.trending-holder {
  width: 352px;
  height: 341px;
}
.trending-holder img {
  height: 298px;
  width: 352px;
  border-radius: 5px;
}
.trending-lines {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 200px;
  font-size: 16px;
  color: #f1f1f1;
}
.trending-tag {
  display: flex;
  justify-content: space-between;
}
.genre {
  background-color: #ff0000;
  border-radius: 10px;
  padding: 5px;
}

.new-release {
  display: flex;
  gap: 32px;

  margin-bottom: 50px;
}
.new-release-holder {
  width: 256px;
  height: 392px;
}
.new-release-holder img {
  height: 344px;
  width: 256px;
  border-radius: 5px;
}
.new-release-lines {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 200px;
  font-size: 16px;
  color: #f1f1f1;
}
.trending-tag {
  display: flex;
  justify-content: space-between;
}
.genre {
  background-color: #ff0000;
  border-radius: 10px;
  padding: 5px;
}
.recommended {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.selection {
  display: flex;
}
.selection button {
  padding: 5px 10px;
  background-color: #ff0000;
  margin-right: 10px;
}
.selection button:disabled {
  background-color: #6f5656;
}
.selection-holder {
  display: flex;
  margin-bottom: 20px;

}
.info-poster{
  
}







@media (max-width: 480px) {
  .input-container {
    margin: auto;
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 250px;
    display: flex;
    border-radius: 90px;
    background-color: #fff;
    align-items: center;
  }
  input {
    width: 150px;
    padding: 10px;
    outline: none;
    border: none;
    position: relative;
    background-color: inherit;
  }
  .search-img {
    color: #f1f1f1;
    position: relative;
    width: 15px;
    height: 15px;
    margin-left: 7px;
  }
}
