.slider {
  height: 100%;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.slider__nav {
  width: 12px;
  height: 12px;
  margin: 2rem 12px;
  border-radius: 50%;
  z-index: 10;
  outline: 6px solid #ccc;
  outline-offset: -6px;
  box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.slider__nav:checked {
  -webkit-animation: check 0.4s linear forwards;
  animation: check 0.4s linear forwards;
}
.slider__nav:checked:nth-of-type(1) ~ .slider__inner {
  left: 0%;
}
.slider__nav:checked:nth-of-type(2) ~ .slider__inner {
  left: -100%;
}
.slider__nav:checked:nth-of-type(3) ~ .slider__inner {
  left: -200%;
}
.slider__nav:checked:nth-of-type(4) ~ .slider__inner {
  left: -300%;
}
.slider__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 400%;
  height: 100%;
  -webkit-transition: left 0.4s;
  transition: left 0.4s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}
.slider__contents {
  height: 100%;
  padding: 2rem;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.slider__image {
  font-size: 2.7rem;
  color: #2196f3;
}
.slider__caption {
  font-weight: 500;
  margin: 2rem 0 1rem;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
}
.slider__txt {
  color: #999;
  margin-bottom: 3rem;
  max-width: 300px;
}

@-webkit-keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

@keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

.movie-preview {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.info-poster {
  margin: 72px auto 96px auto;
}
.info-poster img {
  width: 1132px;
  height: 712px;
  /* object-fit:cover; */
}
.preview {
  width: 100%;
  height: 100%;
}
.preview-container {
  display: flex;
  gap: 32px;
}

.movie-preview-container {
  width: 100%;
  max-width: 1132px;
  margin: 0 auto;
}
.preview-image {
  width: 352px;
  height: 576px;
  border-radius: 10px;
}
.title-holder {
  display: flex;
  justify-content: space-between;
  width: 736px;
  margin-bottom: 64px;
}
.movie-name {
  font-weight: 600;
  font-size: 34px;
  line-height: 100%;
}
.title-holder button {
  padding: 16px;
  gap: 10px;
  border: none;
  border-radius: 15px;
  background-color: #ff0000;
  font-size: 16px;
  font-weight: 400;
}
.preview-descriptions {
  display: flex;
  margin-bottom: 24px;
}
.preview-descriptions div,
p,
span {
  margin-right: 8px;
  color: #fff;
}
.plus {
  width: 17px;
  height: 17px;
}
.drama {
  background-color: #fff;
  color: black;
  border: none;
  font-size: 16px;
  font-weight: 600;
  padding: 10px;
  border-radius: 10px;
}
.fiction {
  background-color: #fff;
  color: black;
  border: none;
  font-size: 16px;
  font-weight: 600;
  padding: 10px;
  border-radius: 10px;
}
.tunes {
  display: flex;
  align-items: center;
}
.tunes div {
  padding: 10px;
}
.story {
  margin-bottom: 44px;
}
.story p {
  font-size: 16px;
}
.story-overview {
  display: flex;
  font-size: 16px;
  gap: 10px;
}
.story-overview div,
p {
  margin-bottom: 8px;
}
.sector-2 {
  margin-bottom: 56px;
}
.episode-container {
  display: flex;
  gap: 32px;
}
.season {
  font-weight: 500;
  font-size: 24px;
  gap: 16px;
}
.episodes span {
  color: black;
}
.episodes div {
  background-color: #d9d9d9;
  margin-bottom: 24px;
  gap: 16px;
  width: 544px;
  height: 58px;
  padding: 16px;
  border-radius: 5px;
}
.episodes div:hover {
  background-color: #ff0000;
}

.may-like {
  font-weight: 600;
  font-size: 24px;
}
.may-like-movies {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.may-like-single-movie img {
  width: 256px;
  height: 344px;
}
.single-movie-title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100px;
  text-align: center;
  color: #f1f1f1;
  margin-right: 35px;
  font-size: 16px;
  font-weight: 500;
  padding: 4px;
  padding-left: 0;
}
.hd {
  background-color: #ff0000;
  padding: 4px;
  border-radius: 5px;
}
.season1 {
  border: 1px solid #ff0000;
  padding: 4px;
  border-radius: 5px;
}
.sector-4 {
  margin-bottom: 84px;
}
.comment-holder-lastone {
  display: flex;
  gap: 32px;
}
.comment-input {
  background-color: #fff;
  width: 816px;
  height: 72px;
  border-radius: 10px;
   
  padding-left: 15px;

}
.comment-input textarea{
  width: 750px;
  padding-top: 16px;
  border: none;
  resize: none;
  outline: none;
  


}
.comment-holder {
  display: flex;
  gap: 32px;
  margin-bottom: 48px;
}
.reactions {
  display: flex;
  align-items: center;
  gap: 32px;
}
.thumbsup img {
  margin-right: 5px;
}
.reply {
  margin-left: 32px;
  margin-bottom: 17px;

}
.comment{
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 24px;
}
